//= Add a before element after the <body> tag to verify the media query rule
@media media_mobile
  body
    &:before
      content 'mobile portrait'
      font-size 0
      position absolute
      left -99999px

@media media_mobile_small
  body
    &:before
      content 'mobile portrait small'
      font-size 0
      position absolute
      left -99999px

@media media_landscape
  body
    &:before
      content 'mobile landscape'
      font-size 0
      position absolute
      left -99999px

@media media_mobile_hd
  body
    &:before
      content 'mobile hd portrait'
      font-size 0
      position absolute
      left -99999px

@media media_mobile_hd_landscape
  body
    &:before
      content 'mobile hd landscape'
      font-size 0
      position absolute
      left -99999px


@media media_tablet
  body
    &:before
      content 'tablet portrait'
      font-size 0
      position absolute
      left -99999px

@media media_tablet_landscape
  body
    &:before
      content 'tablet landscape'
      font-size 0
      position absolute
      left -99999px

@media media_tablet_landscape
  body
    &:before
      content 'tablet landscape'
      font-size 0
      position absolute
      left -99999px

@media media_desktop
  body
    &:before
      content 'desktop'
      font-size 0
      position absolute
      left -99999px

@media media_desktop_large
  body
    &:before
      content 'desktop large'
      font-size 0
      position absolute
      left -99999px
