//================== MEDIA QUERIES ==================
//== Globals
media_landscape = 'screen and (orientation:landscape)'
media_portrait = 'screen and (orientation:portrait)'

//== Mobiles
media_mobile = 'screen and (min-width:20em)'
media_mobile_small = 'screen and (min-width:20em) and (max-height:28.0625em)'
media_mobile_middle = 'screen and (min-width:20em) and (min-height:28.0625em) and (max-height:34.0625em)'
media_mobile_hd = 'screen and (min-width:22.0625em) and (min-height:22.0625em)'
media_mobile_hd_landscape = 'screen and (min-width:30.063em) and (orientation:landscape)'

//== Tablets
media_tablet = 'screen and (min-width:40.0625em)'

//== Desktops
media_desktop = 'screen and (min-width:80.0625em)'
media_desktop_large = 'screen and (min-width : 113em)'
not_media_desktop = 'not screen and (min-width:80.0625em)'